
        .container {
          margin: auto;
          text-align: center;
          width: 1200px;
          overflow: hidden;
          position: relative;
        }

        .slide {
          width: 4800px;
          height: 600px;
          transition: transform 1.2s;
        }

        .slide img {
          width: 1200px;
          height: 600px;
          float: left;
        }

        .left {
            left: 0;
        }
        .right{
            right:0;
        }

        .next {
            position: absolute;
            color: white;
            font-size: 1.5rem;
            cursor: pointer;
            background-color: #808080;
            padding: 0.8rem 0.5rem;
            text-align: center;
            opacity: 0.5;
        }

        .next:hover {
            opacity:0.8 !important;
        }


        .vertical-center {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .index {
          position: absolute;
          bottom: 3%;
          left: 600px;
        }

        .index span {
          cursor: pointer;
          float: left;
          border: 1px solid #fff;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #333;
          margin-right: 5px;
        }

        .on {
          background:red !important;
        }
